@page
@model StoringNuts.Pages.IndexModel
<h1>Storing Nuts demo</h1>
<p>This example will show how you can configure the middleware so that you can use any storeage system you wish for the Nuts this can allow for scalled services to work correctly.</p>
@if (!User.Identity.IsAuthenticated)
{
    <div id="customSqrlSection">
        <p>You will see a SQRL login QR code here and a link to start the login</p>
    </div>
}
else
{
    <p>You are now logged in as @User.Identity.Name</p>
    <form method="get" action="/logout">
        <button type="submit">Logout</button>
    </form>
}
<script>
    document.onload += RenderLoginPage();

    function RenderLoginPage() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function()
        {
            if (this.readyState == 4 && this.status == 200)
            {
                var data = JSON.parse(this.responseText);
                var sqrlDiv = document.getElementById("customSqrlSection");

                var loginLink = document.createElement("a");
                loginLink.setAttribute("href", data["url"]+"&can="+data["cancelUrl"]);
                loginLink.innerText = "SQRL Login";

                var qrCodeImage = document.createElement("img");
                qrCodeImage.setAttribute("src", "data:image/bmp;base64," + data["qrCodeBase64"]);

                sqrlDiv.appendChild(loginLink);
                sqrlDiv.appendChild(qrCodeImage);

                setInterval(function(){ CheckAuto(data["checkUrl"]); }, 1000);

            }
        };
        xhttp.open("GET", "https://@Request.Host/login-sqrl?Helper", true);
        xhttp.send();
    }

    function CheckAuto(checkUrl) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {{
            if (this.readyState == 4 && this.status == 200) {
                if(this.responseText !== "false"){
                    window.location = checkUrl;
                }
            }
            }};
            xhttp.open("GET", checkUrl, true);
            xhttp.send();
        }

</script>