@page
@model AskMessageExample.Pages.MessageMeModel
<p>The following SQRL link will demonstrate the ASK message features of SQRL</p>
@Html.SqrlLinkAndImageForPath(Request, "Message me", "/MessageMe/Now")